
<h5><strong><%= comment.user.first_name %>:</strong> <%= comment.comment %></h5><%= comment.created_at %><%= link_to "Apagar Comentário",[comment.lost, comment], method: :delete, data: {confirm: "Você tem certeza ?"}%>

<legend></legend>