
</div>
<div class="jumbotron" id="salve">
  <div id="comodoar">
    <h5><strong>COMO FAZER UMA DOAÇÃO:</strong></h5>
  </div>
<div class="texto">

<div class="bs-example">
    <div class="row" id="papara">

          <a href="#" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

          <h2 id="numeral"><strong>1</strong></h2>
          <img src="/primeiro1.png">
          <h4><strong id="entrar5">Resgate</strong></h4>
          <h5 id="entrar4">Salve um animal que esteja abandonado precisando de ajuda.</h5>
           </div>
          </a>
      
          <a href="<%= cadastrar_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>2</strong></h2>
          <img src="/segundo2.png">
          <h4><strong id="entrar5">Cadastre-se</strong></h4>
          <h5 id="entrar4">Faça seu cadastro no Encontre Pet, é simples e rápido.</h5>
           </div>
          </a>
    
          <a href="<%= new_post_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>3</strong></h2>
          <img src="/terceiro2.png" >
          <h4><strong id="entrar5">Crie um post</strong></h4>
          <h5 id="entrar4">Envie uma foto do animal e preencha a sua ficha.</h5>
           </div>
          </a>
   
  
          <a href="#" class="thumbnail-primary">
                <div class="col-xs-6 col-md-3 sepa" id="sepa">
            <h2 id="numeral"><strong>4</strong></h2>
          <img src="/quarto3.png">
          <h4><strong id="entrar5">Final feliz</strong></h4>
          <h5 id="entrar4">Aguarde e seu amigo vai encontrar uma nova família.</h5>
           </div>
          </a>
     
         </div>
  </div>

 </div>



  </div>


<div class="jumbotron" id="salve">
<h3>Precisa de ajuda?</h3>
<legend></legend>
<h4>Entre em contato: encontrepet.com@gmail.com</h4>
<h4>Ou pela nossa <a href="https://www.facebook.com/118543718481622">Página do Facebook</a></h4>
</div>

