<div class="col-md-3">

<div class="jumbotron" data-spy="affix" id="salve2">
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>INÍCIO</strong></h6>
<button onclick="location.href='<%= adotar_path %>';" type="submit" class="btn btn-block btn-default " id="msg2"><i class="fa fa-paw" id="i"></i> Adotar</button>
<button onclick="location.href='/pages/ajuda';" type="submit" class="btn btn-block btn-default  active" id="msg2"><i class="fa fa-info-circle" id="i3"></i> Preciso de ajuda</button>
<button onclick="location.href='/pages/ajuda';" type="submit" class="btn btn-block btn-default " id="msg2"><i class="fa fa-phone" id="i"></i> Contato</button>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>TERMOS</strong></h6>
<button onclick="location.href='/pages/termos2';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-legal " id="i22"></i> Termos de Uso</button>
<button onclick="location.href='/pages/termos';" type="submit" class="btn  btn-block btn-default " id="msg2"><i class="fa fa-lock fa-lg" id="i2"></i> Política de Privacidade</button>

</div>
</div>


<div class="col-md-9">


<div class="jumbotron" id="salve">
  <div id="comodoar">
    <h4><strong>Dica:</strong></h4>
  </div>
<div class="texto">
<div class="bs-example">
    <div class="row" id="papara">

          <a href="#" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

          <h2 id="numeral"><strong>1</strong></h2>
          <img src="/primeiro1.png">
          <h4><strong id="entrar5">Resgate</strong></h4>
          <h5 id="entrar4">Salve um animal que esteja abandonado</h5>
           </div>
          </a>
      
          <a href="<%= cadastrar_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>2</strong></h2>
          <img src="/segundo2.png">
          <h4><strong id="entrar5">Cadastre-se</strong></h4>
          <h5 id="entrar4">Faça seu cadastro no Encontrepet.com</h5>
           </div>
          </a>
    
          <a href="<%= new_post_path %>" class="thumbnail-primary">
                  <div class="col-xs-6 col-md-3 sepa" id="sepa">

            <h2 id="numeral"><strong>3</strong></h2>
          <img src="/terceiro2.png" >
          <h4><strong id="entrar5">Crie um post</strong></h4>
          <h5 id="entrar4">Envie uma foto do animal e preencha a sua ficha</h5>
           </div>
          </a>
   
  
          <a href="#" class="thumbnail-primary">
                <div class="col-xs-6 col-md-3 sepa" id="sepa">
            <h2 id="numeral"><strong>4</strong></h2>
          <img src="/quarto3.png">
          <h4><strong id="entrar5">Final feliz</strong></h4>
          <h5 id="entrar4">Aguarde e seu amigo vai encontrar uma nova família</h5>
           </div>
          </a>
     

    </div>
  </div>


</div>
  </div>



<div class="jumbotron" id="salve">
  <div id="comodoar">
    <h4><strong>Contatos:</strong></h4>
  </div>
<h3>Precisa de ajuda?</h3>
<legend></legend>
<h4>Entre em contato: encontrepet.com@gmail.com</h4>
<h4>Ou pela nossa <a href="https://www.facebook.com/118543718481622">Página do Facebook</a></h4>
</div>

</br>
</br>
</br>
</br>
</br>
</br>
