<div class="jumbotron" id="ficarmenor" style="text-align:center;border:4px solid #FF6600;border-radius:5px;">
</br>
	<img src="/encontrepet.png">
	<h3><strong>Desenvolvedor</strong></h3>
	<h4>Rafael Benaion</h4>
	<h3><strong>Colaboradores</strong></h3>
	<h4>Vítor Lima, 
  Ieda Ferreira Trindade, 
  Natalie Unterstell, 
  Lamonielly Romero, 
  Tamara Loewenstein, 
  Rafael Carvalho de Araujo.</h4>

  </br>

</div>
</br>
