<div class="col-md-3">

<div class="jumbotron" data-spy="affix" id="salve2">
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>INÍCIO</strong></h6>
<button onclick="location.href='<%= adotar_path %>';" type="submit" class="btn btn-block btn-default " id="msg2"><i class="fa fa-paw" id="i"></i> Adotar</button>
<button onclick="location.href='/pages/ajuda';" type="submit" class="btn btn-block btn-default" id="msg2"><i class="fa fa-info-circle" id="i3"></i> Preciso de ajuda</button>
<button onclick="location.href='/pages/contato';" type="submit" class="btn btn-block btn-default   active " id="msg2"><i class="fa fa-phone" id="i"></i> Contato</button>
<h6 style="color=#444; padding:0; padding-left:3px;"><strong>TERMOS</strong></h6>
<button onclick="location.href='/pages/termos2';" type="submit" class="btn  btn-block btn-default" id="msg2"><i class="fa fa-legal " id="i22"></i> Termos de Uso</button>
<button onclick="location.href='/pages/termos';" type="submit" class="btn  btn-block btn-default " id="msg2"><i class="fa fa-lock fa-lg" id="i2"></i> Política de Privacidade</button>

</div>
</div>


<div class="col-md-9">



<div class="jumbotron" id="salve22" style="max-width:none;">
<h3>Quer entrar em contato?</h3>
<legend></legend>
<h4>Envie um email para: <strong>encontrepet.com@gmail.com</strong></h4>
<h4>ou fale conosco pela nossa <a href="https://www.facebook.com/118543718481622">página do facebook</a>.</h4>
</div>
<h5 id="entrar"><strong>Encontrepet.com é de Curitiba, feito com <i class="fa fa-heart" style="color:#FF3030;"></i> para os animais.</strong></h5>
</div>

</br>
</br>
</br>
</br>
</br>
</br>
