

<div class="jumbotron" id="ficarmenor2">

<%= simple_form_for(resource, :defaults => { :input_html => { :class => "form-control input-lg" } }, as: resource_name, url: session_path(resource_name)) do |f| %>
 
<fieldset>
  <h2 id="entrar">Entrar</h2>
 <%= f.input :email, label: false, :placeholder => "Email" %>
 <%= f.input :password, label: false, :placeholder => "Senha" %>

  <div class="actions">
    <button type="submit" class="btn btn-success btn-lg btn-block btn-success">Logar</button>
  </div>
</fieldset>
<% end %>


<h5 id="entrar2"><strong>Não tem uma conta ? <%= link_to "Cadastre-se", new_registration_path(resource_name) %></strong></h5>

</div>
