// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

#adotar_botao {
  padding-bottom: 10px;

}

#botaofinal {
  display: block;
  text-align: center;
}

h2 {
  margin-top: 10px;
}


.modal-body {
  text-align: left;
}

img {
  max-width: 70%;
}

#foto_ficha {
  display: block;
  margin: 10px auto;
  border: 4px solid #36A09C;

}

.thumbnail {

  max-width: 500px;
  display: block;
  padding: 0;
  margin: 20px auto; 
  
}

body {
  background-color: #43c8c3;

}

.jumbotron {
  background-color: #fff;
  padding: 8px 20px 8px 20px;
}

#ficarmenor {
  max-width: 500px;
  display: block;
  margin: 10px 0 auto;
  border: 4px solid #36A09C;
  border-radius: 0;
}


.fotoperfil {
  padding:0;

}

#cor {
  background-color: #f1f2f3;
}

#logo {
  max-width: 92%;
  padding-left: 5px;
}

#ficarmenor2 {
  max-width: 400px;
  display: block;
  margin: 10px 0 auto;

  border-radius: 3px;
  display: block;
  margin: 40px auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

#ficarmenor4 {
  display: block;
  margin: 10px 0 auto;
  text-align: center;
  border-radius: 3px;
  display: block;
  margin: 40px auto;
  padding-bottom: 20px;
  padding-top: 20px;

}


.navbar {
padding: 5px;
}


#riscosempadd {
  padding: 0;
  margin: 0;
}

button {
  text-align: center;
  display: block;
}

h2 {
  margin-top: 10;
  
}


#animal {
text-align: center;

border-radius: 0px;
max-width: 300px;
border: 1px solid #fff;
}

h4 {
  margin: 4px 2px;

}



h2 {
  margin: 10px 10px;
  padding: 5px 0 0 0;


}



.bot {
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 8px;

}

p {
      max-width: 500px;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      word-wrap: break-word;
}

#riscocompadd {

  padding-top: 10px;
  padding-bottom: 1px;
}

#cor {
  padding-bottom: 10px;
}

#adotar_botao {
  margin: 0 5px;
}

.texto img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#comodoar {
  text-align: center;
  padding-top: 15px;
  color: #CC5200;

}

#comodoar2 {
  text-align: center;
  border-bottom: 1px inset #007299;
  color: #007299;
}

#comodoar3 {
  text-align: center;
  color: #007299;
}

#comodoar4 {
  text-align: center;
  border-bottom: 1px inset #007299;
  color: #fff;
}

#comodoar5 {
  text-align: center;
}

#comodoar6 {
  text-align: center;
  color: #FFF;
  margin-top: 10px;

  padding: 2.5px;
}


#salve {
  text-align: center;
  background-color: #FF6600;
  color: white;
  border-top: 8px outset #36A09C;
  border-bottom: 8px inset #CC5200;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0 30px 10px 30px
}

#fala {
  max-width: 30%;
  min-width: 300px;
}

#fala2 {
  max-width: 20%;
  min-width: 300px;
}


#perdido {
  margin-bottom: 10px;
}

#logocom {
  max-width: 30%;
  min-width: 200px;
}

.texto h1 {
  margin: 0;
}

.alert {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  }



  #cards{
    color: #666;
  }



.raised {
    background-color: #FF6600;
    box-shadow: 0 3px 0 0 #CC5200;
    border: 0;
}


#ficarmenor3 {
text-align: center;
border: 4px solid #36A09C;
border-radius: 0;
margin-top: 10px;
color: #31908C;
margin-top: 20px;
margin-bottom: 10px;
}

#ficarmenor3 legend {
  color: #31908C;
}

#quebragalho {
  padding: 0;
  border: 4px solid #36A09C;
  border-radius: 0;
  text-align: center;
  color: #31908C;
  padding-top: 20px;
}

#quebragalho img {
  max-width: 70%;
  border: 4px solid #FF6600;

}

#nomeanimal {
  color: #FF6600;
}

#filtro {
  padding: 10px 50px;
  color: #31908C;
  border-bottom: 8px solid #36A09C;
  background-color: #fff;
  display: block;
  margin: 5px auto;
}

#mostrarfiltro {
  padding: 10px 0px;
  color: #FFF;
  text-align: center;
}

#mostrarfiltro strong {
  padding-left: 10px;
}
.procurar {
  color: #31908C;
}

#botaonave {
 
 text-align: center;
  padding-right: 3px;
  color: #31908C;
}

.fb-like {
  text-align: right;
  display: inline-block;
}

footer {
  color: #fff;
  padding: 30px 10px;
  padding-top: 70px;
}

footer a {
    color: #fff;
}


footer img {
  max-width: 6%;
  min-width: 50px;
}

li.media {
  position: relative;
  padding-left: 20px;
}

li.media a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#historico {
  padding-left: 20px;
}


#cadastrar {
  float: right;
}

#entrar {
  color: #666;
  padding-top: 10px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#entrar2 {
  color: #666;
  text-align: center;
  padding-top: 15px;
}

#entrar3 {
  color: #666;
  padding-bottom: 10px;
  font-family: "proxima-nova-soft", "proxima-nova", Helvetica, Arial, sans-serif;

}

#entrar4 {
  color: #525252;
  text-align: center;
  display: block;
  margin: 10px auto;
}


#entrar5 {
  color: #393939;
  text-align: center;
  display: block;
  margin: 20px auto 5px auto;

}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#sepa {
  padding: 7px;
  max-width: 260px;
  
  display:inline-block;

}



.sepa {
    padding: 10px;
    border: 3px solid #FF6600;
    background-image:linear-gradient(#FFEDD2, #FFBC58);
    background-repeat: repeat-x;
   
    margin: 0;
    max-width: 250px;
    border-radius: 5px;

}

.sepa:hover {
    background-color: #f5f3b4;
    background-image:linear-gradient(#FFE5BF, #FFB445);
    background-repeat: repeat-x;
}

.sepa:active, .thumbnail-primary.active {
    border-color: #E64C00;
    color: #007299;
    box-shadow: none;
    text-decoration: none;
}

#sepa img {
  max-width: 95%;
  margin-top: 15px;
}

#papara {
  margin-top: 10px;
  display:inline-block;
  text-align: center;
  clear: all;

}


#numeral {
  margin: 0;
  padding: 3px;
  text-align: left;
  color: #CCA161;
  overflow: auto;
  margin: 0 0 0 5px;
  position: absolute;
}


#prolado {
  display: block;
  margin: 0 0 0 auto;
}

.form-inline {
  margin-top: 8px;
}

#procurar {
  margin-top: 0;
}

#procurar2 {
  max-width: 290px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

#treta {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn {
    padding: 7px 17px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #33a6cc;
    box-shadow: none;
}

.btn-default:active, .btn-default.active, .btn-warning:active, .btn-warning.active, .btn-danger:active, .btn-danger.active, .btn-success:active, .btn-success.active {
  box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 5px 17px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-default.outline {
    border: 2px solid #666;
    color: #666;
    padding: 5px 15px;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: #666;
    border-color: #666;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #666;
    color: #666;
    box-shadow: none;
}

.btn-primary.top {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.top:active, .btn-primary.top.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

#menucima {
  padding-bottom: 5px;
}



#fugiu {
  color: #fff;
} 

.modal-content {
  border-radius: 0;
  border: 6px solid #43c8c3;
}

.tooltip-inner  {
  background-color: #FF6600;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ff5500;
}
